<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vinh Tran</title>
        <%- css('bootstrap/bootstrap') %>
        <%- css('app') %>
    </head>
    <body>
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item active" href="#">Home</a>
              <a class="blog-nav-item" href="#">New features</a>
              <a class="blog-nav-item" href="#">Press</a>
              <a class="blog-nav-item" href="#">New hires</a>
              <a class="blog-nav-item" href="#">About</a>
            </nav>
          </div>
        </div>
        <%- body %>
        <div class="blog-footer">
          <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a>
             by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%- js('bootstrap') %>
</html>

