<div id="pt-page-2" class="pt-page">
   <div class="landing">
      <div class="row vert-center">
         <div class="vert-text container">
            <div class="row text-left">
               <div class="col-xs-8 col-xs-offset-2">
                  <h2>
                     Hello! I'm a sophomore at <strong>Brown University</strong> studying computer science.
                     <br/><br/>I'm looking to learn more about <strong>machine learning</strong> and <strong>data science</strong>, and am always looking for ways to contribute to the <strong>Node.js</strong> community.
                     <br/><br/>I'll be interning with <strong>Google</strong> this summer.
                  </h2>
               </div>
            </div>
        </div>
     </div>
   </div>
   <div class="bar"></div>
</div>

