<div id="pt-page-2" class="pt-page">
   <div class="landing">
      <div class="row vert-center">
         <div class="vert-text">
            <div class="col-xs-10 col-xs-offset-1">
               <h1><strong>Vinh Tran</strong></h1>
               <div class="pad-top">
                  <a href="http://github.com/vqtran">
                     <div id="github-icon" class="icon"></div>
                  </a>
                  <a href="http://www.linkedin.com/pub/vinh-tran/68/974/325">
                     <div id="linkedin-icon" class="icon"></div>
                  </a>
                  <a href="#">
                     <div id="resume-icon" class="icon"></div>
                  </a>
               </div>
            </div>
            <!--<div class="col-xs-1">
               <img src="/images/arrow_right.png"/>
            </div>-->
         </div>
      </div>
   </div>
   <div class="bar"></div>
</div>
