@gray: #e0ddd7;
@dark-gray: #333;

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
 text-decoration:none !important;
 &:hover {
    text-decoration: none !important;
 }
}

.landing {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: @gray
}

.vert-center {
   display: table;
   height: 80%;
   width: 100%;
   position:relative;
}

.vert-text {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   color: @dark-gray;
   h1 {
      padding: 0;
      margin: 0;
      font-size: 100px;
   }
}

.icon {
   width: 50px;
   height: 50px;
   background-size: contain;
   background-position: center;
   display: inline-block;
}

#github-icon {
   background-image: url("/images/github.png");
   -webkit-transition: background-image 0.5s ease;
   transition: background-image 0.5s ease;

   &:after {
      background-image: url("/images/github_orange.png");
   }

   &:hover {
      background-image: url("/images/github_orange.png");
   }
}

#linkedin-icon {
   background-image: url("/images/linkedin.png");
   -webkit-transition: background-image 0.5s ease;
   transition: background-image 0.5s ease;

   &:after {
      background-image: url("/images/linkedin_blue.png");
   }

   &:hover {
      background-image: url("/images/linkedin_blue.png");
   }
}

#resume-icon {
   background-image: url("/images/doc.png");
   -webkit-transition: background-image 0.5s ease;
   transition: background-image 0.5s ease;

   &:after {
      background-image: url("/images/doc_green.png");
   }

   &:hover {
      background-image: url("/images/doc_green.png");
   }
}

.pad-top {
   padding-top: 10px;
}

.bar {
   @bar-height: 40px;
   background-color: @dark-gray;
   height: @bar-height;
   width: 100%;
   position: relative;
   top: -1*@bar-height;
}

.chevron {
   position: absolute;
   width: 80px;
   height: 80px;
   top: 50%;
   background-image: url("/images/chevron.png");
   background-size: cover;
   background-position:center;
   z-index: 10000;
   transition: opacity 0.5s ease;
   &:hover {
      opacity: 0.8;
   }
}

.next {
   right: 10px;
}

.back {
   -moz-transform: scaleX(-1);    /* Gecko */
   -o-transform: scaleX(-1);      /* Operah */
   -webkit-transform: scaleX(-1); /* webkit */
   transform: scaleX(-1);         /* standard */
   filter: FlipH;                 /* IE 6/7/8 */
   left: 10px;
   display: none;
}

.no-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
