<% layout('layouts/layout') %>
<div id="preload-1"></div>
<div id="preload-2"></div>
<div id="preload-3"></div>
<div class="chevron back"></div>
<div class="chevron next"></div>
<div id="pt-main">
   <%- partial('pages/landing') %>
   <%- partial('pages/about') %>
</div>
